/* Newarchive.css */
.new-archive-container {
  padding: 20px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.breadcrumbs span {
  margin-right: 5px;
}

h1 {
  margin-bottom: 20px;
}

.new-archive-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #22b07d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
